.header {
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header__wrapper {
  width: 100%;
  padding: 5px 20px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-transparent);
}

.header__wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: -1;
}

/* Burger menu */
.burger {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger__item {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  position: relative;
  transition: 0.3s;
}

.burger__item:before,
.burger__item:after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  transition: 0.3s;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  top: 8px;
}

/* Animation for active state */
.active .burger__item {
  background-color: transparent;
}

.active .burger__item::before {
  transform: rotate(45deg);
  top: 0;
}

.active .burger__item::after {
  transform: rotate(-45deg);
  top: 0;
}

.header__logo-img {
  width: 44px;
}

/* Menu is hidden */
.header__menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  background-color: transparent;
  transition: all 0.3s ease-out;
}

/* Menu is open */
.header__menu.active {
  min-height: 100vh;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  background-color: #0000008f;
  backdrop-filter: blur(10px);
}

.fixed {
  overflow: hidden;
}

.header__menu-list {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu-item {
  text-align: center;
}

.header__menu-link {
  padding: 20px 10px;
  display: block;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-light);
  transition: background-color 0.5s;
}

.header__menu-link:hover {
  background-color: #0000008f;
  /* backdrop-filter: blur(10px); */
}


.header__menu-link_checked {
  color: var(--color-orange);
}

.header__menu-link_checked:hover {
  color: var(--color-orange-dark);
}

.header__basket-button {
  background-color: transparent;
  border: none;

  .basket {
    width: 28px;
    height: 28px;
    color: #ffffff;
  }
}


/* media queries */