@import url('fonts.css');

:root {
  --color-light: #FFFFFF;
  --color-light-gray: #E1E1E1;
  --color-dark-gray: #5B5B5B;
  --color-dark: #000000;
  --color-dark-transparent: #000000cc;
  --color-orange: #FFA127;
  --color-orange-active: #FFA12780;
  --color-orange-transparent: #FFA1274D;
  --color-orange-light: #FFB759;
  --color-orange-dark: #ff9100;

  --border-radius: 30px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Hide scrollbar on mobiles */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  color: var(--color-dark);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: 16px;
  margin-inline: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.btn {
  width: fit-content;
  padding: 12px 24px;
  display: inline-block;
  text-decoration: none;
  color: var(--color-light);
  text-transform: uppercase;
  border: 1px solid var(--color-orange);
  border-radius: 30px;
}

.hide {
  display: none;
}

.show {
  display: block;
}